@import "tailwindcss";

html, body { height: 100%; }

/* Light */
body {
  background: #fafafa;
  color: #0a0a0a;
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
}

/* Dark */
.dark body {
  background: #07070a;
  color: #f4f4f5;
}
